
/* ----------------------------BASICS----------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


/* ------------------------FONTS,ICONS ------------------------*/
@import url(https://db.onlinewebfonts.com/c/90100147a9b552a477200bfb737766e5?family=Margon+360+W08+Medium);

@font-face {
    font-family: "Margon 360 W08 Medium";
    src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot");
    src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.svg#Margon 360 W08 Medium")format("svg");
}



/* ---------------------------SHARED-----------------------------*/
* {
    font-family: "Margon 360 W08 Medium";
}

:root h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;

    margin-top: 5vh;
}

            @media (min-width: 768px) {
                
                :root h2 {
                    font-size: 2.5rem;
                }

            }

            @media (min-width: 950px) {
                
                :root h2 {
                    margin-top: 10vh;
                }

            }



/* ---------------------------HEADER-----------------------------*/
.header {
    background-color: #3e6f2fbd;
    
    width: 100vw;
    height: 10vh;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 999;
}

.header-container {
    width: 95vw;

    margin: 2vh auto;

    display: flex;
    justify-content: space-between;
}

            @media (min-width: 600px) {
                .header {
                    height: 7vh;
                }

                .header-container {
                    margin: 0 auto;
                }
            }

            @media (min-width: 950px) {
                
                .header {
                    height: inherit;
                }

            }




/*-------------------------logo---------------------------*/
.logo {
    width: fit-content;
}

.logo:hover {
    transform: scale(1.02);
    transition: 0.7s;
}

.logo img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.full-logo {
    display: none;                   
}        

.text-logo {
    height: 6vh;

    display: block;
}

            @media (min-width: 600px) {
                .text-logo {
                    height: 4.5vh;
                    margin-top: 1vh;
                }
            }

            @media (min-width: 950px) {
                
                .logo {
                    width: 30vw;
                }

                .full-logo {
                    display: block;
                }
                
                .text-logo {
                    display: none;
                }
            }



/*----------------------nav-container----------------------*/
.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: fit-content;
    height: 7vh;

    position: relative;
}

            @media (min-width: 768px) {
                
                .nav-container {
                    width: 65%;
                }
            }

            @media (min-width: 950px) {
                
                .nav-container {
                    height: inherit;
                }
            }



/*-----------------------header-contacts----------------*/
.header-contacts {
    text-align: right;

    display: none;
}

            @media (min-width: 950px) {
                            
                .header-contacts {
                    display: block;
                }
            }

.header-contacts li {
    list-style: none;
    background-color: #483E86;
    font-size: 1rem;

    display: inline-block;

    margin-right: 0.5%;
    border-radius: 50%;
    padding: 5px 9px;
}

            @media (min-width: 1100px) {
                            
                .header-contacts li {
                    font-size: 1.2rem;
                }
            }

            @media (min-width: 1550px) {

                .header-contacts li {
                    font-size: 1.6rem;

                    padding: 10px 15px;
                }
            }

            @media (min-width: 1800px) {

                .header-contacts li {
                    font-size: 1.8rem;
                }
            }

.header-contacts li:hover {
    transform: scale(1.2);
    transition: 0.7s;
}

.header-contacts a {
    color: rgb(255, 255, 255);
}



/*---------------------------nav-------------------------*/
.nav {
    background-color: #3e6f2fbd;

    display: none; 

    position: absolute;
    top: 7.95vh;
    right: calc(0vw - 2.5vw); 
}   

            @media (min-width: 400px) {
                .nav {
                    font-size: 1.3rem;
                }
            }

            @media (max-width: 500px) {

                .nav {
                    width: 100vw;  
                }
            }

            @media (min-width: 501px) {

                .nav {
                    width: 50vw; 

                    font-size: 1.3rem;
                }
            }

            @media (min-width: 600px) {
                .nav {
                    top: 6.95vh;
                }
            }

            @media (min-width: 950px) {

                .nav {
                    display: block !important;
                    
                    position: relative;
                    top: inherit;
                    right: inherit;

                    width: initial;

                    background-color: inherit;
                }
            }

.nav ul {
    display: block;
}

            @media (min-width: 950px) {

                .nav ul {
                    display: flex;
                    justify-content: space-between;
                }
            }

.nav li {
    text-align: center;
    list-style: none;

    padding: 0.5% 1.5%;
    margin: 30px 0;

    display: block;
}

            @media (min-width: 950px) {

                .nav li {
                    font-size: 0.9rem;
                    text-align: left;
                    background-color: #377723;

                    display: inline-block;

                    border-radius: 20px;
                    margin: 0;
                }
            }

            @media (min-width: 1100px) {

                .nav li {
                    font-size: 1rem;

                    padding: 0.5% 2%;
                }
            }

            @media (min-width: 1350px) {

                .nav li {
                    font-size: 1.2rem;
                }
            }

            @media (min-width: 1550px) {

                .nav li {
                    font-size: 1.4rem;
                }
            }

            @media (min-width: 1800px) {

                .nav li {
                    font-size: 1.6rem;

                    padding: 0.5% 1.5%;
                }
            }

.nav li a {
    color: #ffffff;
    text-decoration: none;
}

.nav li:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.nav li a:hover {
    color: #e9e9e9;
}



/*-----------------------menu-icon--------------------*/
.menu-icon {
    color: white;
    font-size: 30px;
    text-align: right;

    margin-right: 20px;
}

            @media (min-width: 950px) {
                
                .menu-icon {
                    display: none;
                }
            }



/* ---------------------------MAIN-----------------------------*/

/*--------------------------welcome-----------------------------*/
#welcome {
    background-image: url(/assets/shop/1643640044768.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.499);
    background-blend-mode: multiply;

    height: calc(100vh - 70px);

    margin-bottom: 3%;

    position: relative;
}

#welcome h1 {
    padding: 40vh 5% 0 10%;
    margin: 0;

    text-align: left;
    color: #ffffff;
    font-size: 2.2rem;
}

            @media (min-width: 768px) {

                #welcome h1 {
                    font-size: 2.5rem;
                }
            }

            @media (min-width: 1100px) {

                #welcome h1 {
                    font-size: 3rem;
                }
            }

            @media (min-width: 1550px) {

                #welcome h1 {
                    font-size: 3.5rem;
                }
            }

#welcome h2 {
    font-weight: 200;
    color: #bbb8b8e3;
    text-align: left;
    text-transform: none;

    padding: 0 5% 1% 10%;
    margin-top: 0;

    display: none;
}

            @media (min-width: 768px) {

                #welcome h2 {
                    display: block;

                    font-size: 1.2rem;
                }
            }

            @media (min-width: 1100px) {

                #welcome h2 {
                    font-size: 1.6rem;
                }
            }

            @media (min-width: 1550px) {

                #welcome h2 {
                    font-size: 1.9rem;
                }
            }


/*--------------------------about-us------------------------*/
.about-us {
    width: 80vw;
    margin: 0 auto;
} 

.about-us h2 {
    color: #377723;
}



/*--------------boss-intro--------------*/
.boss-intro {
    padding: 1vh 0 5vh 0;
}

            @media (min-width: 950px) {

                .boss-intro {
                    display: flex;
                    justify-content: space-between;

                    padding: 5vh 0 10vh 0;
                }
            }



/*--------------boss-text--------------*/
.boss-text {
    background-color: #e9e9e9b0;

    padding: 5%;
    border-radius: 20px;

    width: 100%;
}

            @media (min-width: 768px) {

                .boss-text {
                    padding: 3%;

                    width: 100%;
                }
            }

            @media (min-width: 950px) {

                .boss-text {
                    width: 60%;
                }
            }

.boss-text p {
    font-size: 1rem;
}

            @media (min-width: 1100px) {

                .boss-text p {
                    font-size: 1.2rem;
                }
            }

            @media (min-width: 1550px) {

                .boss-text p {
                    font-size: 1.4rem;
                }
            }

.boss-signature {
    padding-top: 5%;
    text-align: center;

    font-size: 1rem;
}  

            @media (min-width: 768px) {

                .boss-signature {
                    padding-top: 2%;
                }
            }

            @media (min-width: 950px) {

                .boss-signature {
                    display: none;
                }
            }


.boss-signature span {
    font-size: 1.2rem;
    font-weight: 700;
    color: #377723;
}

            @media (min-width: 950px) {

                .boss-signature span {
                    display: none;
                }
            }

            

/*--------------boss-img--------------*/
.boss-img {
    width: 30%;

    display: none;
}

            @media (min-width: 950px) {
                .boss-img {
                    display: block;
                }
            }

.boss-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

    object-fit: cover;
    object-position: center;
}

.boss-img-container img:hover {
    transform: scale(1.03);
    transition: 0.7s;
}

.boss-img span {
    font-weight: 700;
    color: #377723;
    font-size: 1.2rem;
}

            @media (min-width: 1100px) {

                .boss-img span {
                    font-size: 1.5rem;
                }
            }

            @media (min-width: 1550px) {

                .boss-img span {
                    font-size: 1.8rem;
                }
            }

.boss-img figcaption {
    font-size: 1rem;
    text-align: center;
}

           
            @media (min-width: 1100px) {

                .boss-img figcaption {
                    font-size: 1.3rem;
                }
            }

            @media (min-width: 1550px) {

                .boss-img figcaption {
                    font-size: 1.5rem;
                }
            }



/*--------------advantages--------------*/
.advantages {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

            @media (min-width: 600px) {
                            
                .advantages {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }

            @media (min-width: 950px) {
                            
                .advantages {
                    justify-content: space-evenly;
                }
            }

.adv {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;

    height: 15vh;
    border-radius: 20px;

    background-image: url("/assets/shop/k.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.499);
    background-blend-mode: multiply;

    position: relative;
}

            @media (min-width: 600px) {
                .adv {
                    flex-basis: calc(100% / 2 - 2%);
                    height: 25vh;
                }
            }

            @media (min-width: 950px) {
                .adv {
                    flex-basis: calc(100% / 3 - 4%);
                }
            }

            @media (min-width: 1350px) {
                            
                .adv {
                    font-size: 1.5rem;
                }
            }

            @media (min-width: 1550px) {

                .adv {
                    font-size: 1.7rem;
                }
            }


/* .adv-img-container-big {
    display: none;

    height: 25vh;
}

.adv-img-container-small {
    display: none;

    height: 25vh;
}

.adv-img-container-big img,
.adv-img-container-small img {
    width: 100%;
    padding-top: 6%;

    object-fit: contain;
    object-position: center;
}

            @media (min-width: 950px) {

                .adv-img-container-small {
                    display: grid;
                    grid-area: "five";
                }

                .adv-img-container-big {
                    display: flex;

                    align-items: center;
                }

                .adv-img-container-small {
                    display: none;
                }
            } */


.adv:hover {
    transform: scale(1.05);
    transition: 0.7s;

    background-color: rgba(0, 0, 0, 0.244);
}

.adv span {
    position: relative;
    left: 15%;
    top: 40%;

    display: inline-block;
    
    margin-right: 20%;
    width: 66%;

    text-align: center;
    font-size: 1.1rem;
}

            @media (min-width: 600px) {
                
                .adv9-trvanlive {
                    flex-basis: calc(100% / 1 );
                }
            }

            @media (min-width: 950px) {

                .adv span {
                    font-size: 1.3rem;
                }

                .adv9-trvanlive {
                    flex-basis: calc(100% / 3 - 4% );
                }
            }




            

           
/*-----------------------------news-----------------------*/
.hp-news {
    width: 80vw;
    margin: 0 auto;

    position: relative;
}

.hp-news h2 {
    color: #377723;

    padding-bottom: 3%;
}

.hp-news-container1 {
    padding: 0;
    border-radius: 20px;
}

            @media (min-width: 600px) {

                .hp-news-container1 {
                    padding: 5%;

                    background-color: #e9e9e9b0;
                }
            }

.hp-news-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

            @media (min-width: 950px) {

                .hp-news-container2 {
                    flex-direction: row;
                    flex-wrap: wrap;
                    row-gap: 30%;
                }
            }

.hp-news-all {
    width: 100%;
    height: 30vh;
    border-radius: 20px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgb(0 0 0 / 72%);
    background-blend-mode: multiply;

    position: relative;
}

            @media (min-width: 600px) {

                .hp-news-all {
                    width: 90%;
                }
            }

            @media (min-width: 950px) {

                .hp-news-all {
                    width: 47.5%;
                    height: 25vh;
                }
            }

.hp-news-all:hover {
    transform: scale(1.02);
    transition: 1.0s;

    background-color: rgba(0, 0, 0, 0.275);
}

.hp-news2,
.hp-news3,
.hp-news4 {
    margin-top: 20px;
}

.hp-news1 {
    background-image: url("/assets/news/stastny-novy-rok-2024.jpg");
}

.hp-news2 {
    background-image: url("/assets/news/farmarsky-vanocni-trh-2023.jpg");
}

            @media (min-width: 950px) {

                .hp-news2 {
                    margin-top: 0;
                }
            }

.hp-news3 {
    background-image: url("/assets/news/pozvanka-keramika-dohnalkovi.jpg");
}

.hp-news4 {
    background-image: url("/assets/news/novinka-sufan-masla.jpg");
}

            @media (min-width: 950px) {

                .hp-news3,
                .hp-news4 {
                    margin-top: 3%;
                }
            }

.hp-news h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
}

            @media (min-width: 1100px) {
                            
                .hp-news h3 {
                    font-size: 1.3rem;
                }
            }

            @media (min-width: 1550px) {
                
                .hp-news h3 {
                    font-size: 1.5rem;
                }
            }

.hp-news time {
    font-size: 1.1rem;
    color: white;
}

.hp-news-text {
    position: absolute;
    left: 5%;
    top: 15%;

    margin-right: 10%;
}

.hp-news-all a {
    position: absolute;
    right: 10%;
    bottom: 10%;

    padding: 2% 15%;
    border-radius: 20px;
    
    font-size: 1.2rem;
    background-color: #377723;
    text-decoration: none;
    color: #fff;
}

            @media (min-width: 600px) {

                .hp-news-all a {
                    right: 5%; 

                    padding: 1% 5%;
                }
            }

.hp-news a:hover {
    transform: scale(1.05);
    transition: 0.7s;

    background-color: #499e2f;
}

.news-archive {
    margin: 10% auto 0 auto;
    padding: 1% 6%;
    border-radius: 20px;
    width: 50%;

    text-decoration: none;
    background-color: #377723;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;

    display: block;
}

            @media (min-width: 501px) {

                .news-archive {
                    width: 35%;
                }
            }

            @media (min-width: 600px) {

                .news-archive {
                    margin: 5% auto 0 auto;
                }
            }

            @media (min-width: 950px) {

                .news-archive {
                    width: 15%;
                    padding: 1% 3%;
                }
            }