/* -----------------------POD 1800px--------------------------- */
@media (max-width: 1800px) {
    .header nav li {
        font-size: 1.6rem;
        padding: 0.7%;
    }

}

/* -----------------------POD 1550px--------------------------- */
@media (max-width: 1550px) {
    .header-contacts li {
        font-size: 1.2rem;
    }

    .header nav li {
        font-size: 1.4rem;
    }

    #welcome h2 {
        font-size: 3.5rem;
    }

    #welcome h3 {
        font-size: 1.6rem;
    }

    .boss-text p {
        font-size: 1.4rem;
    }

    .adv {
        font-size: 1.5rem;
    }
}



/* -----------------------POD 1300px--------------------------- */
@media (max-width: 1300px) {
    .header nav li {
        font-size: 1.2rem;
    }

    .boss-text p {
        font-size: 1.2rem;
    }

    .adv-img-container-big {
        display: none;
    }

    .adv-img-container-small {
        grid-area: "five";

        display: flex;

        height: 25vh;
    }

    .adv {
        font-size: 1.3rem;
    }
}


/* -----------------------POD 1100px--------------------------- */
@media (max-width: 1100px) {
    .header nav li {
        font-size: 1rem;
    }
    
    .header-contacts li {
        font-size: 1rem;
        padding: 5px 10px;
    }

    #welcome h2 {
        font-size: 2.5rem;
    }

    #welcome h3 {
        font-size: 1.2rem;
    }

    .boss-text p {
        font-size: 1rem;
    }

    .boss-img span {
        font-size: 1.2rem;
    }

    .boss-img figcaption {
        font-size: 1rem;
    }
}

/* -----------------------NAD 950px--------------------------- */
@media (min-width: 951px) {
    .nav {
        display: block !important;
    }

    .header {
        height: inherit;
    }
}

/* -----------------------POD 950px--------------------------- */
@media (max-width: 950px) {
    .header {
        height: 7vh;
    }
    
    .nav-container {
        position: relative;

        height: 7vh;
    }

    .header-contacts {
        display: none;
    }

    .nav-container .nav {
        display: none;

        position: absolute;
        top: 6.95vh;
        right: calc(0vw - 2.5vw);

        background-color: #3e6f2fbd;

        width: 30vw;
    }

    .nav ul {
        display: block;
    }


    .nav li {
        display: block;

        text-align: center;
        font-size: 20px;
        border-radius: 0;
        background-color: inherit;

        margin: 30px 0;
    }
    
    .menu-icon {
        display: block;


        color: white;
        font-size: 25px;

        text-align: right;
    }

    .logo {
        width: fit-content;
    }

    .full-logo {
        display: none;
    }

    .text-logo {
        display: block;

        height: 4.5vh;
        margin-top: 1vh;
    }

    .boss-intro {
        display: block;
        padding: 1vh 0 5vh 0;
    } 

    .boss-text {
        width: 94%;
    }

    .boss-img {
        display: none;
    }

    .boss-signature {
        display: block;

        font-size: 1rem;
        text-align: center;
        padding-top: 2%;
    }

    .boss-signature span {
        font-size: 1.2rem;
        font-weight: 700;
        color: #377723;
    }

    :root h2 {
        margin-top: 5vh;
    }

    .adv-img-container-small {
        display: none;
    }

    .advantages {
        row-gap: 20px;
        column-gap: 20px;
        grid-auto-columns: 1fr 1fr;
        grid-template-areas:
        "one two"
        "three four"
        "six seven"
        "eight nine";
    }
}

/* -----------------------POD 770px--------------------------- */
@media (max-width: 770px) {
    .nav-container {
        width: fit-content;
    }

    .nav-container .nav {
        width: 50vw;       
    }

    #welcome h2 {
        font-size: 2rem;
    }

    #welcome h3 {
        display: none;
    }

    .boss-text {
        width: 90%;
        padding: 5%;
    }

    .boss-signature {
        padding-top: 5%;
    }
}

/* -----------------------POD 600px--------------------------- */
@media (max-width: 600px) {
    .advantages {
        display: flex;
        flex-direction: column;
    }
}

/* -----------------------POD 500px--------------------------- */
@media (max-width: 500px) {
    .nav-container .nav {
        width: 100vw;
    }

    .nav-container .nav li {
        font-size: 1.4rem;
    }
}