/* -----------------------POD 1800px--------------------------- */
@media (max-width: 1800px) {
    .nav li {
        font-size: 1.4rem;
        padding: 0.5% 2%;
    }

    .header-contacts li {
        font-size: 1.6rem;
    }
}

/* -----------------------POD 1650px--------------------------- */
@media (max-width: 1650px) {
    .footer-right,
    .footer-left {
        padding: 2%;
    }

    .footer-contacts a {
        font-size: 1.3rem;
    }

    .footer-shop p {
        font-size: 1.4rem;
    }
}


/* -----------------------POD 1550px--------------------------- */
@media (max-width: 1550px) {
    .header-contacts li {
        font-size: 1.2rem;
        padding: 5px 9px;
    }

    .nav li {
        font-size: 1.2rem;
    }

    #welcome h2 {
        font-size: 3.5rem;
    }

    #welcome h3 {
        font-size: 1.6rem;
    }

    .boss-text p {
        font-size: 1.4rem;
    }

    .adv {
        font-size: 1.5rem;
    }

    .boss-img span {
        font-size: 1.5rem;
    }

    .boss-img figcaption {
        font-size: 1.3rem;
    }

    .hp-news h3 {
        font-size: 1.7rem;
    }

    .footer-left {
        border-right: none;
        padding-right: 0;
    }

    .footer-right {
        padding-left: 0;
    }

    .footer-logo-big {
        background-color: inherit;
    }
}



/* -----------------------POD 1350px--------------------------- */
@media (max-width: 1350px) {
    .nav li {
        font-size: 1rem;
    }

    .boss-text p {
        font-size: 1.2rem;
    }

    .adv-img-container-big {
        display: none;
    }

    .adv-img-container-small {
        grid-area: "five";

        display: flex;

        height: 25vh;
    }

    .adv {
        font-size: 1.3rem;
    }

    .footer-map {
        width: 70%;
        margin: 0 5%;
    }

    .footer-logo {
        display: none;
    }

    .footer-left {
        width: 30%;
    }

    .footer-right {
        width: 70%;
    }

    .footer-contacts {
        width: 100%;
    }

    .footer-contacts a {
        font-size: 1rem;
    }

    .footer-shop p {
        font-size: 1rem;
    }

    .footer-contacts a {
        font-size: 1.2rem;
    }

    .footer-shop p {
        font-size: 1.2rem;
    }

    .footer-contacts h3:last-of-type,
    .footer-shop h3:last-of-type {
        margin-top: 10%;
    }
}


/* -----------------------POD 1100px--------------------------- */
@media (max-width: 1100px) {
    .nav li {
        font-size: 0.9rem;
        padding: 0.5% 1.5%;
    }
    
    .header-contacts li {
        font-size: 1rem;
        padding: 5px 10px;
    }

    #welcome h2 {
        font-size: 2.5rem;
    }

    #welcome h3 {
        font-size: 1.2rem;
    }

    .boss-text p {
        font-size: 1rem;
    }

    .boss-img span {
        font-size: 1.2rem;
    }

    .boss-img figcaption {
        font-size: 1rem;
    }

    .hp-news h3 {
        font-size: 1.5rem;
    }
}

/* -----------------------NAD 950px--------------------------- */
@media (min-width: 951px) {
    .nav {
        display: block !important;
    }

    .header {
        height: inherit;
    }
}

/* -----------------------POD 950px--------------------------- */
@media (max-width: 950px) {
    .header {
        height: 7vh;
    }
    
    .nav-container {
        position: relative;

        height: 7vh;
    }

    .header-contacts {
        display: none;
    }

    .nav-container .nav {
        display: none;

        position: absolute;
        top: 6.95vh;
        right: calc(0vw - 2.5vw);

        background-color: #3e6f2fbd;

        width: 30vw;
    }

    .nav ul {
        display: block;
    }


    .nav li {
        display: block;

        text-align: center;
        font-size: 20px;
        border-radius: 0;
        background-color: inherit;

        margin: 30px 0;
    }
    
    .menu-icon {
        display: block;


        color: white;
        font-size: 25px;

        text-align: right;
    }

    .logo {
        width: fit-content;
    }

    .full-logo {
        display: none;
    }

    .text-logo {
        display: block;

        height: 4.5vh;
        margin-top: 1vh;
    }

    .boss-intro {
        display: block;
        padding: 1vh 0 5vh 0;
    } 

    .boss-text {
        width: 94%;
    }

    .boss-img {
        display: none;
    }

    .boss-signature {
        display: block;

        font-size: 1rem;
        text-align: center;
        padding-top: 2%;
    }

    .boss-signature span {
        font-size: 1.2rem;
        font-weight: 700;
        color: #377723;
    }

    :root h2 {
        margin-top: 5vh;
    }

    .adv-img-container-small {
        display: none;
    }

    .advantages {
        row-gap: 20px;
        column-gap: 20px;
        grid-auto-columns: 1fr 1fr;
        grid-template-areas:
        "one two"
        "three four"
        "six seven"
        "eight nine";
    }

    .hp-news-container2 {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .hp-news-all {
        width: 90%;
        height: 30vh;
        row-gap: 0;   
    }

    .hp-news2,
    .hp-news3,
    .hp-news4 {
        margin-top: 20px;
    }

    .news-archive {
        padding: 1% 6%;
        width: 35%;
    }

    .footer-container {
        justify-content: center;
        gap: 7%;
    }

    .footer-map {
        display: none;
    }

    .footer-left,
    .footer-right {
        width: 40%;
    }

    .footer-shop {
        width: 100%;
    }

}

/* -----------------------POD 770px--------------------------- */
@media (max-width: 770px) {
    .nav-container {
        width: fit-content;
    }

    .nav-container .nav {
        width: 50vw;       
    }

    #welcome h2 {
        font-size: 2.2rem;
    }

    #welcome h3 {
        display: none;
    }

    .boss-text {
        width: 100%;
        padding: 5%;
    }

    .boss-signature {
        padding-top: 5%;
    }

    :root h2 {
        font-size: 2rem;
    }

    .footer-container h3 {
        font-size: 1.4rem;
    }
}

/* -----------------------POD 600px--------------------------- */
@media (max-width: 600px) {
    .advantages {
        display: flex;
        flex-direction: column;
    }

    .hp-news-container1 {
        background-color: white;
        padding: 0;
    }

    .hp-news-all {
        width: 100%;
    }

    .news-archive {
        margin: 10% auto 0 auto;
    }

    .hp-news-all a {
        font-size: 1.2rem;
        padding: 2% 15%;
        border-radius: 20px;
        position: absolute;
        right: 10%;
        bottom: 10%;
    }

    .hp-news h3 {
        font-size: 1.2rem;
    }
    
    .footer-container {
        display: block;
    }

    .footer-left,
    .footer-right {
        width: 80%;
        margin: 0 auto;
    }

    .footer-left {
        padding-top: 10%;
    }

    .footer-right {
        padding: 10%;
    }

}

/* -----------------------POD 500px--------------------------- */
@media (max-width: 500px) {
    .nav-container .nav {
        width: 100vw;
    }

    .nav-container .nav li {
        font-size: 1.4rem;
    }

    .news-archive {
        width: 50%;
    }
}