/* ----------------------------BASICS----------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------SHARED-----------------------------*/
* {
   font-family: "mignonregular";
}

/* h2,
h3 {
    font-weight: 700;
} */


/* ---------------------------HEADER-----------------------------*/

/*-------------------logo-----------------*/

/*--------------header-contacts-------------*/

/*-----------------nav----------------*/

/*-------------menu-icon----------------*/

/* ---------------------------MAIN-----------------------------*/

/*----------------welcome--------------*/

/*----------------about-us--------------*/

/*----------------news--------------*/

/* ---------------------------FOOTER-----------------------------*/

/*---------------footer-contacts--------------*/

/*-----------------footer-shop---------------*/

/*------------------signature------------------*/