/* ----------------------------BASICS----------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


/* ------------------------FONTS,ICONS ------------------------*/
@import url(https://db.onlinewebfonts.com/c/90100147a9b552a477200bfb737766e5?family=Margon+360+W08+Medium);

@font-face {
    font-family: "Margon 360 W08 Medium";
    src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot");
    src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.svg#Margon 360 W08 Medium")format("svg");
}


/* ---------------------------SHARED-----------------------------*/
* {
    font-family: "Margon 360 W08 Medium";
}

:root h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 5%;
}

/* ---------------------------HEADER-----------------------------*/
.header {
    background-color: #3e6f2fbd;
    
    width: 100vw;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 999;
}

.header-container {
    width: 95vw;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}


/*-------------------------logo---------------------------*/
.logo {
    width: 30vw;
}

.logo img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

/*----------------------nav-container----------------------*/
.nav-container {
    width: 65%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*-----------------------header-contacts----------------*/
.header-contacts {
    text-align: right;
}


.header-contacts li {
    list-style: none;
    background-color: #483E86;
    font-size: 1.8rem;

    display: inline-block;

    margin-right: 1%;
    padding: 10px 15px;
    border-radius: 50%;
}

.header-contacts a {
    color: rgb(255, 255, 255);
}



/*---------------------------nav-------------------------*/
.header nav ul {
    display: flex;
    justify-content: space-evenly;
}

.header nav li {
    list-style: none;
    font-size: 1.8rem;
    background-color: #377723;

    display: inline-block;

    padding: 0.7% 1.2%; 
    border-radius: 20px;
}


.header nav li a {
    color: #ffffff;
    text-decoration: none;
}

.header nav li:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.header nav li a:hover {
    color: #58AF46;
}



/*-----------------------menu-icon--------------------*/
.menu-icon {
    display: none;

    margin-right: 30px;
}



/* ---------------------------MAIN-----------------------------*/

/*--------------------------welcome-----------------------------*/

#welcome {
    background-image: url(/assets/shop/1643640044768.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.499);
    background-blend-mode: multiply;

    height: calc(100vh - 70px);

    margin-bottom: 3%;

    position: relative;
}

#welcome h2 {
    padding: 40vh 5% 0 5%;
    margin: 0;

    font-size: 5rem;
    color: #ffffff;
}

#welcome h3 {
    font-weight: 200;
    font-size: 2rem;
    color: #ffffff;
    
    text-align: center;
    padding: 0 5% 1% 5%;
}

/*--------------------------about-us------------------------*/
.about-us {
    width: 80vw;
    margin: 0 auto;
}

.about-us h2 {
    color: #377723;
}

/*--------------boss-intro--------------*/
.boss-intro {
    padding: 3% 0 6% 0;

    display: flex;
    justify-content: space-between;
}


/*--------------boss-text--------------*/
.boss-text {
    width: 65%;
    background-color: #EEF7EC;

    border-radius: 20px;
    padding: 3%;
}

.boss-text p {
    font-size: 1.6rem;
}


/*--------------boss-img--------------*/
.boss-img {
    width: 30%;
}

.boss-img-container img {
    width: 100%;
    height: 100%;

    border-radius: 20px;

    object-fit: cover;
    object-position: center;
}

.boss-img-container img:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.boss-img figcaption {
    font-size: 1.3rem;
    text-align: center;
}

.boss-img span {
    font-size: 1.5rem;
    font-weight: 700;
    color: #377723;
}

/*--------------advantages--------------*/
.advantages {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine"
    ;
}

.adv,
.adv-img-container {
    height: 25vh;
}


.adv {
    border-radius: 20px;

    background-image: url("/assets/shop/k.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.499);
    background-blend-mode: multiply;

    color: #ffffff;
    font-size: 1.7rem;
    text-decoration: none; 
    
    position: relative;
}

.adv:hover {
    transform: scale(1.05);
    transition: 0.7s;

    background-color: rgba(0, 0, 0, 0.108);
}

.adv span {
    position: relative;
    left: 15%;
    top: 40%;

    display: inline-block;
    
    margin-right: 20%;
    width: 66%;
    text-align: center;
}

.adv1-pecivo {
    grid-area: "one";
}

.adv2-bezobal {
    grid-area: "two";
}

.adv3-napoje {
    grid-area: "three";
}

.adv4-zelovoc {
    grid-area: "four";
}

.adv-img-container {
    grid-area: "five";

    display: flex;
    align-items: center;
}

.adv5-farmary {
    grid-area: "six";
}

.adv6-remesla {
    grid-area: "seven";
}

.adv7-trhy {
    grid-area: "eight";
}

.adv8-trvanlive {
    grid-area: "nine";
}

.adv-img-container img {
    width: 100%;

    object-fit: cover;
    object-position: center;

    padding-top: 6%;
}



/*-----------------------------news-----------------------*/
.hp-news {
    width: 80vw;
    margin: 0 auto;
}

.hp-news h2 {
    color: #377723;
    padding-bottom: 3%;

}

.hp-news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 30%;

    background-color: #EEF7EC;

    border-radius: 20px;
    padding: 5%;
}

.hp-news-all {
    width: 47.5%;
    height: 25vh;

    border-radius: 20px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.499);
    background-blend-mode: multiply;

    position: relative;
}

.hp-news-all:hover {
    transform: scale(1.02);
    transition: 1.0s;

    background-color: rgba(0, 0, 0, 0.275);
}

.hp-news3, 
.hp-news4 {
    margin-top: 3%;
}

.hp-news1 {
    background-image: url("/assets/news/stastny-novy-rok-2024.jpg");
}

.hp-news2 {
    background-image: url("/assets/news/farmarsky-vanocni-trh-2023.jpg");
}

.hp-news3 {
    background-image: url("/assets/news/pozvanka-keramika-dohnalkovi.jpg");
}

.hp-news4 {
    background-image: url("/assets/news/novinka-sufan-masla.jpg");
}

.hp-news h3 {
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
    
    margin: 0 10% 1% 0;
    position: absolute;
    left: 5%;
    bottom: 30%;
}

.hp-news time {
    font-size: 1.2rem;
    color: white;
    
    margin: 0 5% 1% 0;
    position: absolute;
    left: 5%;
    bottom: 20%;
}

.hp-news a {
    text-decoration: none;
    background-color: #377723;
    color: #ffffff;
    font-size: 1.5rem;

    padding: 1% 5%;
    border-radius: 20px;

    position: absolute;
    right: 5%;
    bottom: 10%;
}

.hp-news a:hover {
    transform: scale(1.05);
    transition: 0.7s;

    background-color: #499e2f;
}


/* ---------------------------FOOTER-----------------------------*/

footer {
    margin-top: 5%;
}

/*------------------------footer-container------------------*/
.footer-container {
    background-color: #377723;

    display: flex;
    justify-content: space-between;


    height: 40vh;
}

.footer-container h3 {
    font-size: 1.6rem;
    color: #EEF7EC;
    text-transform: uppercase;

    text-align: center;
    margin-bottom: 5%;
}


/*------------------------footer-left------------------*/
.footer-left {
    width: 50%;
    padding: 2% 5%;

    display: flex;
    justify-content: space-between;

    border-right: 1px solid #a3a3a3;
}

.footer-logo {
    width: 45%;
    border-radius: 20px;
    
    background-color: #fff;
}

.footer-logo img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
}

.footer-contacts {
    width: 50%;
}

.footer-contacts ul:first-of-type {
    margin-bottom: 10%;
}

.footer-contacts ul:first-of-type li {
    list-style: none;
    padding-left: 20%;
}

.footer-contacts ul li:nth-of-type(1),
.footer-contacts ul li:nth-of-type(2) {
    margin-bottom: 5%;
}

.footer-contacts span {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-contacts a {
    text-decoration: none;
    font-size: 1.2rem;
}

.footer-contacts ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
}
.footer-contacts ul:nth-of-type(2) li {
    list-style: none;
    margin: 0 3%;
}

.footer-contacts i {
    font-size: 3rem;
    
    background-color: #EEF7EC;
    border-radius: 10px;
    padding: 5px 7px;
}

.footer-contacts i:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

.footer-contacts .fa-facebook {
    color: #0866FF;
}

.footer-contacts .fa-instagram {
    color: black;
}

/*--------------------------footer-right-----------------------*/
.footer-right {
    width: 50%;
    padding: 2% 5%;

    display: flex;
    justify-content: space-between;
}

.footer-shop {
    width: 50%;
}

.footer-address {
    text-align: center;
}

.footer-address span {
    text-transform: uppercase;
    font-weight: 700;
}

.footer-shop p {
    font-size: 1.2rem;
}

.footer-shop p:nth-of-type(3) {
    margin-bottom: 20%;
}

.footer-shop span {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-opening-hours {
    padding-left: 12%;
}

.footer-map {
    width: 45%;
    border-radius: 20px;
}

.footer-map iframe {
    width: 100%;
    height: 100%;

    border-radius: 20px;
}



/*------------------------signature--------------------------*/
.signature {
    background-color: #a3a3a3;

    padding: 20px 0;
}

.signature p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}