
/* -------------------adding to header-------------------------*/
#nav-partners a {
    text-decoration: underline;
}
            @media (min-width: 950px) {

                #nav-partners {
                    background-color: #483E86;
                }

                #nav-partners a {
                    color: white;
                }
            }

/* ------------------------MAIN--------------------------------*/

/*-----------------------------partners-----------------------*/
.agrofyto {
    width: 80vw;
    margin: 20vh auto 5vh auto;
}

            @media (min-width: 1000px) {

                .agrofyto {
                    margin: 30vh auto 5vh auto;
                }
            }

.agrofyto h1 {
    color: #377723;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;

    padding-bottom: 5%;
}

            @media (min-width: 900px) {

                .agrofyto h1 {
                    font-size: 3rem;
                }
            }

.agrofyto h2 {
    text-transform: none;
    text-align: left;
    font-size: 1.5rem;
    color: #377723;

    padding-bottom: 5%;
}

            @media (min-width: 900px) {
                .agrofyto h2 {
                    font-size: 2rem;
                    
                    padding-bottom: 2%;
                    margin-top: 5vh;
                }
            }

.agrofyto a:nth-of-type(1),
.agrofyto a:nth-of-type(2) {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.781);

    display: inline-block;
}

.agrofyto a:nth-of-type(1):hover ,
.agrofyto a:nth-of-type(2):hover {
    transform: scale(1.05);
    transition: 0.7s;

    text-decoration: underline;
}

.agrofyto-gallery {
    width: 100%;
    margin: 5vh 0;
}

            @media (min-width: 900px) {
                .agrofyto-gallery {
                    display: flex;
                    justify-content: space-evenly;

                    border: 1px solid #377723;
                    border-radius: 20px;
                }
            }

            @media (min-width: 900px) {
                .agrofyto-gallery figure {
                    flex-basis: calc(100% / 2 - 4%);
                    padding: 4% 2%;
                }
            }

.agrofyto-gallery figure:last-of-type {
    margin-top: 3vh;
}

            @media (min-width: 900px) {
                .agrofyto-gallery figure:last-of-type {
                    margin-top: 0;
                }
            }

.agrofyto-gallery figure a {
    width: 100%;

    display: block;

    padding: 3% 0;
}

.agrofyto-gallery figure a:hover {
    transform: scale(1.02);
    transition: 0.7s;
}

.agrofyto-gallery a img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    border-radius: 20px;
}

            @media (min-width: 900px) {
                .agrofyto-gallery a img {
                    border-radius: 0;
                }
            }

.agrofyto ul {
    width: 100%;
}

.agrofyto ul li {
    list-style: none;
    padding: 2% 0;
}

.agrofyto ul li span {
    font-weight: 700;
    text-transform: uppercase;
}

#agrofyto-url h2 {
    text-align: center;
}

#agrofyto-url a {
    margin: 1vh auto 0 auto;
    padding: 3% 2%;
    border-radius: 20px;
    width: 100%;

    text-decoration: none;
    background-color: #377723;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;

    display: block;
}

            @media (min-width: 600px) {
                #agrofyto-url a {
                    width: 60%;
                }
            }

            @media (min-width: 900px) {
                #agrofyto-url a {
                    width: 40%;
                    font-size: 1.4rem;
                    padding: 1% 2%;
                }
            }